<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DinoDoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <userSettings>
  <DinoDoc.Properties.Settings>
   <setting name="WindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>1298, 800</value>
   </setting>
   <setting name="OptionsOverwriteFiles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OptionsUseFileSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OptionsUseFileDate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OptionsUseClaimsAuthentication" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OptionsAuthenticationMethod" serializeAs="String">
    <value>PUT</value>
   </setting>
   <setting name="OptionsSimulationMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TreeViewSource" serializeAs="String">
    <value>325</value>
   </setting>
   <setting name="TreeViewFile" serializeAs="String">
    <value>348</value>
   </setting>
   <setting name="TreeViewTarget" serializeAs="String">
    <value>409</value>
   </setting>
   <setting name="TreeViewStatus" serializeAs="String">
    <value>144</value>
   </setting>
   <setting name="WindowMaximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WindowMinimized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OptionsTimeOut" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="OptionsOverwriteSizeOperator" serializeAs="String">
    <value>&lt;&gt; Different</value>
   </setting>
   <setting name="OptionsOverwriteDateOperator" serializeAs="String">
    <value>&lt;&gt; Different</value>
   </setting>
   <setting name="OptionsOverwriteLogicalOperator" serializeAs="String">
    <value />
   </setting>
  </DinoDoc.Properties.Settings>
 </userSettings>
</configuration>